<section class="groups">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Add lesson</button>
    <button mat-raised-button color="warn" *ngIf="selection.selected.length > 0" (click)="bulkDelete()"><mat-icon>delete</mat-icon>Delete lesson</button>
  </div>
  <table mat-table [(dataSource)]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cafedra">
      <th mat-header-cell *matHeaderCellDef> Cafedra </th>
      <td mat-cell *matCellDef="let element"> {{element.cafedra.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef> Teacher </th>
      <td mat-cell *matCellDef="let element"> {{element.teacher.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" class="actions-table">
        <mat-icon (click)="openEditDialog(element)">edit</mat-icon>
        <mat-icon (click)="delete(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="pagination">
    <mat-paginator
      [pageSizeOptions]="[1, 10, 20]"
      [pageSize]="pagination.pageSize"
      [length]="pagination.length"
      [pageIndex]="pagination.pageIndex"
      showFirstLastButtons
      (page)="onChangePage($event)"
    >
    </mat-paginator>  </div>
</section>
