<section class="container">
  <div class="calendar-actions">
    <div class="calendar-actions-group">
      <button mat-raised-button color="primary" (click)="openDialog = true; type = 'create'; dropEvent()">
        <mat-icon>add</mat-icon> Add event
      </button>
    </div>
    <div class="calendar-date">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="calendar-actions-group">
      <button
        mat-raised-button
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </button>
      <button
        mat-raised-button
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </button>
    </div>
  </div>
  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      precision="minutes"
      [weekStartsOn]="day"
      [hourSegments]="4"
      [dayStartHour]="8"
      [refresh]="refresh"
      [dayStartMinute]="0"
      [dayEndHour]="18"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="handleEvent($event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [refresh]="refresh"
      [events]="events"
      (eventClicked)="handleEvent($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  <div class="calendar-actions-bottom">
    <div class="calendar-actions-group">
      <button
        mat-raised-button
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay(); buildEvents()"
      >
        Previous
      </button>
      <button
        mat-raised-button
        color="accent"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="buildEvents()"
      >
        Today
      </button>
      <button
        mat-raised-button
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay(); buildEvents()"
      >
        Next
      </button>
    </div>
  </div>
<app-create-event-dialog
  [(lessons)]="Lessons"
  [(groups)]="Groups"
  [(teachers)]="Teachers"
  [(days)]="Days"
  [(classes)]="Classes"
  [(times)]="LessonTimes"
  [(open)]="openDialog"
  [(Event)]="CurrentEvent"
  [(type)]="type"
  (search)="search($event)"
  (close)="openDialog = false"
  (delete)="deleteEvent($event)"
  (save)="addEvent($event)"
  (update)="updateEvent($event)"
></app-create-event-dialog>
</section>
